/*
* Overall sidebar styles
*/
#locationSidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 20px 12px 12px 12px;
  font-family: monospace;
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -400px; /* default closed, 0 when open */
  overflow-x: hidden;
  transition: left 0.5s ease;
}

#closeLocationSidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
}

#openLocationSidebar {
  top: 67px;
  left: 10px;
  font-size: calc(1.0rem + 0.1vw);
  cursor: pointer;
  background-color: rgba(35, 55, 75);
  color: white;
  padding: 7px 12px;
  border: #25921B solid 2px;
  position: absolute;
  border-radius: 15px;
  box-shadow: rgb(100, 100, 100 / 40%) 0px 8px 20px;
  z-index: 20; /* button at top of layers */
}

#openLocationSidebar:hover {
  background-color: #25921B;
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.heading {
  height: 30px;
  margin: 8px 2px 2px 2px;
  display: flex;
  justify-content: space-between;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

.heading h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
  text-align: left;
  padding: 2px;
}

.heading .interviewed-farm-label {
  font-size: 14px;
  text-align: right;
  align-self: center;
  color: rgb(255, 208, 0);
}

.subheading h2 {
  font-size: 18px;
  margin: 2px 0 0 0;
  font-weight: 100;
  text-align: left;
  padding: 2px;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #0000ff;
}

/* 
* Listing Styles
*/
.listings {
  height: 100%;
  overflow: visible;
  padding-bottom: 60px;
}

.listings .item {
  border-top: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: rgb(46, 198, 32);
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #2aa120; }

.listings .item.active {
  background-color: rgba(101, 153, 205, 0.9);
}

.title {
  font-size: calc(1.0rem + 0.1vw);
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

.listings .item .title.interviewed {
  color: rgb(255, 208, 0);
}

.listings .item.active .title.interviewed,
.listings .item .title.interviewed:hover { color: rgb(190, 155, 0); }

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #25921B;
  border-radius: 0;
}

/*
* Search Styles
*/
.search input[type=text] {
  
  width: 320px;
}

/* 
*  Filter Styles adapted from multi-select.css by Cam Bass
*  https://cambass.medium.com/building-a-category-filter-with-reactjs-mern-stack-193f46ff385
*/
#filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 4px 0 0 0;
  width: 370px;
}

.filter {
  display: flex;
  font-size: 14px;
  padding: 15px 0 0 0;
  position: relative;
}

.filter-title {
  color: rgb(66, 66, 66);
  font-size: 14px;
  font-weight: lighter;
  padding: 0 10px 0 0;
}

.outer-filter-container {
  width: 180px;
}

.filter-dropdown {
  height: 45px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 8px 17px 8px 16px;
  box-shadow: rgb(100, 100, 100 / 20%) 0px 8px 24px;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 15px;
  cursor: pointer;
}

img {
  width: 14px;
  height: auto;
}

.filter-title {
  align-self: center;
  font-size: 15px;
}

.filter-container {
  width: 180px;
  position: absolute;
  margin-top: 8px;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgb(100, 100, 100 / 40%) 0px 8px 20px;
  z-index: 100;
}

.filter-container.multi-select:first-child {
  padding-top: 10px;
}

.filter-container-header {
  color: rgb(131, 129, 129);
  font-size: 16px;
  border-bottom: 1px solid rgb(198, 198, 198);
}

.multi-select {
  font-size: 16px;
  padding: 10px 0 0px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.multi-select:first-of-type {
  padding-top: 10px;
}

.multi-select label {
  color: rgb(66, 66, 66);
  margin-top: 1px;
  margin-left: 8px;
}

.multi-select-input {
  accent-color: #7ecdd3;
  height: 18px; 
  width: 18px; 
  margin-top: 4px;
  cursor: pointer;
}

/*
* Active Filter labeling styles
*/
.active-filters {
  display: inline-block;
}

.active-filter {
  display: inline-block;
  margin-left: 5px; /* add some margin between the label and the filter names */
}

.active-filter-label {
  padding-top: 0.2em;
  text-decoration-line: underline;
}

/* On smaller screens, where width is less than 768px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
  .active-filter, .active-filter-label {
    font-size: 14px;
  }
  .heading h1 {
    font-size: 18px;
  }
  .heading .interviewed-farm-label {
    font-size: 13px;
  }
  #locationSidebar { 
    padding-top: 15px; 
    width: 360px;
  }
  .outer-filter-container, .filter-container {
    width: 145px;
  }
  .filter-container{
    margin-top: 5px;
    padding: 10px;
  }
  .filter-container-header, .multi-select {
    font-size: 14px;
  }
  .filter-title {
    font-size: 13px;
  }
  #filter-wrapper {
    padding: 2px 0 0 0;
    width: 300px;
  }
  .filter-dropdown {
    height: 45px;
  }
  .listings .item .details {
    font-size: 14px;
  }
  #openLocationSidebar { 
    font-size: 16px; 
  }
  .search input[type=text] {
    width: 300px;
    font-size: 14px;
  }
}