<!-- Code citation: Code was adapted from the provided guide https://github.com/osu-cs340-ecampus/nodejs-starter-app -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Taco Task Force Game Shop</title>
</head>
<body>

    {{{body}}}

</body>
</html>